/* Global stuff */
:root {
    /* --country-color: rgb(40, 114, 184); */
    --country-color: rgb(0, 0, 0);
}
html {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 100%;
}
button {
    color: white;
    background-color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 32px;
}
/* Title stuff */
#title-container {
    display: flex;
    justify-content: center;
}
#title {
    color:black;
    width: 600px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
}
.reset:active {
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 4px;
    padding: 11px 28px;
}
/* Map stuff */
#map-container {
    height: 500px;
    margin-left: 200px;
    margin-right: 500px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
#map {
    overflow: visible;
}
path.country {
    stroke: #888;
    stroke-width: .5;
    fill: white;
}
path.country.selected {
    fill: var(--country-color);
}
path.country:hover {
    stroke: var(--country-color);
    stroke-width: 1px;
}
/* Columns */
.side_col {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    flex: 1;
}
#left_col {
    color: black;
    padding-left: 5px;
}
#mid_col {
    flex: 0;
    padding-top: 20px;
}
#right_col {
    overflow-y: auto;
}
#right_col::-webkit-scrollbar {
  display: none;
}
/* genre/style containers/dropdowns */
#genre_buttons {
    margin: 0;
}
.genre_dropdown {
    border-style: solid;
    border-color: black;
    font-size: 16px;
}
.genre_button.active {
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 4px;
    padding: 11px 28px;
}
.style_button {
    padding: 10px 27px;
}
.style_button.active {
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 4px;
    padding: 6px 23px;
}
.styles_container {
    display: none;
}
.dropdown_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Settings */
#settings {
    margin-top: 440px;
    position: absolute;
}
