/* Global stuff */
:root {
    /* --country-color: rgb(40, 114, 184); */
    --country-color: rgb(0, 0, 0);
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    max-width: 100vw;
}
button {
    color: white;
    background-color: black;
    border: none;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
}
h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 64px;
    line-height: 60px;
}
h2 {
    font-size: 48px;
}
h3 {
    margin-top: 12px;
    font-size: 32px;
    margin-bottom: 10px;
}
/* Title containers */
#mobile-title-container {
    display: none;
    text-align: center;
    padding: 2vh;
    background-color: white;
    z-index: 1000;
}
#desktop-title-container {
    display: block;
}
#desktop-title-container h1 {
    font-size: 5vw;
    line-height: 1;
    margin-bottom: 2vh;
}
#desktop-title-container h3 {
    font-size: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
/* Title stuff */
#title-container {
    display: flex;
    justify-content: center;
}
#title {
    color:black;
    width: 600px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
}
.reset:active {
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 4px;
    padding: 6px 17px;
}
/* Map stuff */
#map-container {
    height: 500px;
    position: absolute;
    border: solid;
    border-width: 2px;
    padding-left: 100px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 25px;
}
#map {
    overflow: visible;
}
path.country {
    stroke: #888;
    stroke-width: .5;
    fill: white;
}
path.country.selected {
    fill: var(--country-color);
}
path.country:hover {
    stroke: var(--country-color);
    stroke-width: 1px;
}
/* Columns */
/* Desktop */
#content-container {
    display: flex;
    flex-direction: row;
}
/* Mobile */
@media only screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }
    #title {
        color:black;
        width: 100vw;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        padding-top: 0px !important;
        padding-bottom: 1vh !important;
        font-weight: bold;
    }
    #mobile-title-container {
        display: block;
        width: 100vw;
        box-sizing: border-box;
        padding-left: 0;
        padding-right: 0;
    }
    #mobile-title-container h1,
    #mobile-title-container h3 {
        width: 100%;
        box-sizing: border-box;
    }
    #mobile-title-container h1 {
        font-size: 8vw !important;
        line-height: 1.1 !important;
        margin-bottom: 2vh;
    }
    #mobile-title-container h3 {
        font-size: 4vw !important;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    #desktop-title-container {
        display: none;
    }
    #content-container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    #left_col {
        max-width: 100vw !important;
    }
    #mid_col {
        width: 100%;
        display: block;
        flex-direction: column;
        align-items: center;
        padding-top: 0px !important;
    }
    #map-container {
        position: relative;
        width: 90vw;
        height: 350px;
        min-height: 300px;
        max-height: 90vw;
        padding: 0 10px 0 10px;
        margin: 0 auto;
        border: solid;
        border-width: 2px;
    }
    #map {
        width: 100%;
        height: 100%;
        overflow: visible;
    }
    #genre-description {
        width: 100%;
        box-sizing: border-box;
        padding-top: 1vh !important;
        padding-left: 7.5px !important;
    }
}
.side_col {
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
    flex: 1;
}
#left_col {
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 30vw;
    margin-right: 0;
}
#left_col::-webkit-scrollbar {
  display: none;
}
#genre-description {
    padding-left: 5px;
    font-size: 14px;
}
#mid_col {
    flex: 0;
    padding-top: 20px;
}
#right_col {
    overflow-y: auto;
    margin-left: 10px;
}
#right_col::-webkit-scrollbar {
  display: none;
}
/* genre/style containers/dropdowns */
#genre_buttons {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.genre_dropdown {
    /* border-style: solid;
    border-color: black; */
    font-size: 12px;
}
.genre_button.active {
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 4px;
    padding: 6px 17px;
}
.style_button {
    padding: 7px 9px;
}
.style_button.active {
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 4px;
    padding: 3px 5px;
}
.styles_container {
    display: none;
    padding-left: 10px;
}
.dropdown_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Settings */
#settings {
    margin-top: 440px;
    position: absolute;
    display: none;
}
/* Insights */