html {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
body {
    font-family:'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 100%;
}
#map-container {
    height: 500px;
    
    position: relative;
    margin: 10px 0;
}

#map {
    overflow: visible;
}
#title {
    color:#888;
    width: 600px;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    padding-top: 30px;
    padding-bottom: 30px;
}
.side_col {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    flex: 1;
}
#left_col {
    margin-right: 200px;
}
#mid_col {
    flex: 0;
    padding-top: 20px;
}
#right_col {
    margin-left: 200px;
}
path.country {
    stroke: #888;
    stroke-width: .5;
    fill: white;
}
path.country:hover {
    stroke: #000;
    fill: red;
}